extends ../layout

block content

	form.center.form.form-profile(method='post', action='')
		input.input.input-text(type='url', name='url', placeholder='Enter URL to profile', autofocus)
		input.input.input-submit(type='submit', value='Profile!')

	#recent_profiles

block scripts

	script
		$(function() {
			$.get('/profile/recent.html', function(data) {
				$('#content').append($(data).find('table').addClass('center'));
			}, 'html');
		});
