extends ../layout

block content
    #graphs

block scripts
    script(src='/javascripts/lib/highcharts/highcharts.js')
    script(src='/javascripts/lib/highcharts/modules/exporting.js')

    script
        var json = JSON.parse('!{JSON.stringify(reports)}');

        $(function() {
            for( url in json ) {
                var node = $('<div />').addClass('graph');
                $('#graphs').append(node);

                new MyChart(node[0]);
            }
        });


        function MyChart(node) {

            var type = 'frontend';
            var data = [];
            var series = [{
                name: 'onLoad',
                data: []
            },{
                name: 'domReady',
                data: []
            },{
                name: 'firstByte',
                data: []
            }];

            for( report in json[url][type] ) {
                var record = json[url][type][report];
                var time = new Date(record.time).getTime();

                series[2].data.push([time, record.firstByte]);
                series[1].data.push([time, record.onContentLoad]);
                series[0].data.push([time, record.onLoad]);
            }
            console.log(series);
            new Highcharts.Chart({
                chart: {
                    renderTo: node,
                    type: 'area'
                },
                title: {
                    text: url
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        month: '%e. %b',
                        year: '%b'
                    }
                },
                yAxis: {
                    title: {
                        text: 'Milliseconds'
                    },
                    labels: {
                        formatter: function() {
                            return Highcharts.numberFormat(this.value, 0, ',');
                        }
                    }
                },
                tooltip: {
                    formatter: function() {
                        return ''+
                            Highcharts.numberFormat(this.y, 0, ',') +' ms';
                    }
                },
                plotOptions: {
                    area: {
                        stacking: 'normal',
                        lineColor: '#666666',
                        lineWidth: 1,
                        marker: {
                            enabled: false,
                            states: {
                                hover: {
                                    enabled: true,
                                    symbol: 'circle',
                                    radius: 5,
                                    lineWidth: 1
                                }
                            }
                        },
                    }
                },
                series: series
            });
        }
