extends ../layout

block content
    #graphs

block scripts
    script(src="/javascripts/jquery.flot.min.js")
    script(src="/javascripts/jquery.flot.threshold.min.js")
    // script(src="/javascripts/jquery.flot.fillbetween.min.js")

    script
        (function() {
                var json = JSON.parse('!{JSON.stringify(reports)}');

                for( url in json ) {
                    for( type in json[url] ) {
                        var d1 = { label: 'first byte', data: [], threshold: { below : 0, color: "rgb(30, 180, 20)"}, color: "rgb(200, 20, 30)"};
                        var d2 = { label: 'dom ready',  data: [], threshold: { below : 0, color: "rgb(30, 180, 20)"}, color: "rgb(200, 20, 30)"};
                        var d3 = { label: 'on load',    data: [], threshold: { below : 0, color: "rgb(30, 180, 20)"}, color: "rgb(200, 20, 30)"};

                        for( report in json[url][type] ) {
                            var record = json[url][type][report];
                            var time = new Date(record.time).getTime();

                            d1.data.push([time, record.firstByte]);
                            d2.data.push([time, record.onContentLoad]);
                            d3.data.push([time, record.onLoad]);

                            d1.threshold.below = record.average.firstByte;
                            d2.threshold.below = record.average.onContentLoad;
                            d3.threshold.below = record.average.onLoad;
                        }

                        var node = $('<div />').addClass('graph');
                        $('#graphs').append(node);
                        $.plot(node, [
                                d1,
                                d2,
                                d3
                            ], {
                            series: {
                                lines: { show: true },
                                points: { show: true }
                            },
                            xaxis: {
                                mode: "time",
                                timeformat: "%y/%m/%d"
                            }
                        });
                    }
                }

        })();
