extends ../layout

block content
    #graphs

block scripts
    script(src="http://www.google.com/jsapi")
    script
        google.load('visualization', '1', {packages: ['corechart']});
    script

        function prepareVisualization() {
            var k = 1;
            var json = JSON.parse('!{JSON.stringify(reports)}');
            console.log(json);
            for( url in json ) {
                for( type in json[url] ) {
                    var data = [['time', 'first byte', 'ready', 'loaded', 'average', 'average', 'average']];

                    for( report in json[url][type] ) {
                        var record = json[url][type][report];
                        data.push([
                            record.time,
                            record.firstByte,
                            record.onContentLoad,
                            record.onLoad,
                            record.average.firstByte,
                            record.average.onContentLoad,
                            record.average.onLoad,
                        ]);
                    }
                    var node = $('<div />').addClass('graph');
                    $('#graphs').append(node);
                    drawVisualization(url, data, node[0]);
                }
            }
        }

        function drawVisualization(title, data, node) {
            console.log(data);

            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable(data);

            // Create and draw the visualization.
            new google.visualization.LineChart(node).
                draw(data, {
                    title: title,
                    curveType: "function",
                    width: 500, height: 400,
                    vAxis: {maxValue: 10}
                });
        }

        google.setOnLoadCallback(prepareVisualization);
